{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccine Details</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text\css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{%static 'css\style2.css' %}">
</head>

<body>
    <a href="/customerwelcome/" class= "btn btn-success" style="margin-top: 10px; margin-left: 20px; font-size: 20px;">Home</a>
    <br>
    <br>

    <form method="post" action="/search/" style="margin-left: 100px;">
        {% csrf_token %}
        <label class="a"><b style = "color:white">Filter</b></label>
        <input class="filter" type="text" placeholder="Enter pincode" name="pincode">
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    <a href="/vaccine/" class= "btn btn-primary" style="margin-top: 10px; margin-left: 200px; font-size: 20px;">Reset</a>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Vaccine Center Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-bordered table-dark table-hover" style="width:98%; font-size:20px" ;>
                            <thead>
                                <tr>
                                    <th>Vaccine ID</th>
                                    <th>Vaccine Center ID</th>
                                    <th>Vaccine Center Name</th>
                                    <th>Vaccine Center Pin Code</th>
                                    <th>Vaccine Center Address</th>
                                    <th>Type of Vaccine</th>
                                    <th>Availability</th>
                                    <th>Book</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for vaccine in vaccineDet %}

                                <tr>
                                    <td>{{vaccine.Vaccine_ID}}</td>
                                    <td>{{vaccine.Center.Center_Id}}</td>
                                    <td>{{vaccine.Center.VaccineCenterName}}</td>
                                    <td>{{vaccine.Center.pin_code}}</td>
                                    <td>{{vaccine.Center.address}}</td>
                                    <td>{{vaccine.type_of_vaccine}}</td>
                                    <td>{{vaccine.availability}}</td>
                                    <!-- <td>/book/{{vaccine.Vaccine_ID}}</td> -->
                                    <td><a href="/book/{{vaccine.Vaccine_ID}}" class='btn btn-primary'>Book</a></td>
                                    <!-- <td><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">BOOK</button></td> -->
                                    <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="module" src="{% static 'js\main.js' %}"></script>
    <script src="{% static 'js\jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js\bootstrap.min.js' %}"></script>
    <script src="{% static 'js\popper.js' %}"></script>

</body>
</html>