{% extends "index.html" %}
{% load static %}

{% block title %}
  User Booking
{% endblock %}

{% block content %}

<style>
    /* @media screen {
        
    } */
    body{background-color: #474e5d;}

</style>

{% for message  in messages %}
    <div class="alert alert-danger" role="alert" style="text-align: center; font-size:15px;">
{{message}}
    </div>
    {% endfor %}
<a href="/customerwelcome/" class= "btn btn-success" style="margin-top: 10px; margin-left: 20px; font-size: 20px;">Home</a>
<h1 style="text-align: center; color: white">My Bookings</h1>

<table style="width: 98%; padding-bottom: 20px; margin: 20px; background-color: blanchedalmond;">
    <tr style="text-align: center; font-weight: bold;">
        <td><h2><b>Vaccine ID</b></h2></td>
        <td><h2><b>Vaccine Name</b></h2></td>
        <td><h2><b>Aadhar Number</b></h2></td>
        <td><h2><b>Name</b></h2></td>
        <td><h2><b>Date</b></h2></td>
        <td><h2><b>Print Certificate</b></h2></td>
        <td><h2><b>Cancel Booking</b></h2></td>
    </tr>

    <!-- Getting the particular logged-in user booking details-->
    {% for id, booking, name in data %}
    <tr style="text-align: center;">
        <td><h2>{{id}}</td>
        <td><h2>{{name}}</h2></td>
        <!-- {% if booking.Hotel_image %}
        <td><img src="{{ booking.Hotel_image.url }}" height ="280px" width="500px" style ="margin-bottom: 50px;"></td>
        {% endif %} -->
        <td><h2>{{booking.aadhar}}</h2></td>
        <td><h2>{{booking.name}}</h2></td>
        <td><h2>{{booking.date}}</h2></td>
        {% if booking.status == False %}
        <!-- <td><a href="/pdf/{{booking.id}}/" class="btn btn-success">Print my Certificate</a></td> -->
        <td><a href="/pdf/" class="btn btn-success" id = "print" disabled="disabled">Print my Certificate</a></td>
        {% else %}
        <td><a href="/pdf/{{id}}" class="btn btn-success" id = "print">Print my Certificate</a></td>
        {% endif %}
        {% if booking.status == False %}
        <td><a href="/cancel/{{booking.id}}/" class="btn btn-danger">Cancel My Booking</a></td>
        {% else %}
        <td><a href="/cancel/{{booking.id}}/" class="btn btn-danger" disabled="disabled">Cancel My Booking</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}