{% extends "index.html" %}
{% load static %}

{% block title %}
  User Booking
{% endblock %}

{% block content %}

<!-- <style>
    @media screen {
        
    }
</style> -->

{% for message  in messages %}
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        {{message}}      
    </div>      
    {% endfor %}
<a href="/customerwelcome/" class= "btn btn-success" style="margin-top: 10px; margin-left: 20px; font-size: 20px;">Home</a>
<h1 style="text-align: center; color: rgb(30, 48, 210);">My Bookings</h1>

<table style="width: 98%; padding-bottom: 20px; margin: 20px; background-color: blanchedalmond;">
    <tr style="text-align: center; font-weight: bold;">
        <td><h2><b>Vaccine ID</b></h2></td>
        <td><h2><b>Username</b></h2></td>
        <td><h2><b>Aadhar Number</b></h2></td>
        <td><h2><b>Name</b></h2></td>
        <td><h2><b>Date</b></h2></td>
        <td><h2><b>Cancel Booking</b></h2></td>
    </tr>

    <!-- Getting the particular logged-in user booking details-->
    {% for booking in bookings %}
    <tr style="text-align: center;">
        <td><h2>NONE RIGHT NOW</h2></td>
        <td><h2>{{booking.username}}</h2></td>
        <!-- {% if booking.Hotel_image %}
        <td><img src="{{ booking.Hotel_image.url }}" height ="280px" width="500px" style ="margin-bottom: 50px;"></td>
        {% endif %} -->
        <td><h2>{{booking.aadhar}}</h2></td>
        <td><h2>{{booking.name}}</h2></td>
        <td><h2>{{booking.date}}</h2></td>

        <td><a href="/cancel/{{booking.id}}/" class="btn btn-danger">Cancel My Booking</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}